:root {
    /* main background color */
    --main-bg-clr: #FDF9F3; 

    /* Registration form container */
    --form-bg-color: #FFFFFF; 

    /* Primary accent */
    --accent-color: #76FF03;  
    --accent-hover: #64DD17; 

    /* Typography */
    --text-primary: #2D2D2D; 
    --text-secondary: #6B6B6B; 

    /* UI Elements - Borders and inputs */
    --input-field-bg: #F8F9FA;
    --border-soft: #EAEAEA;
    --shadow-subtle: rgba(0, 0, 0, 0.05);

    /* Scara Major Third (1.25) */
    --step-0: 1rem; 

    /* Step -1 (Sub body) la 14px */
    --step-minus-1: 0.875rem; 

    /* h4: de la 1.25rem la 1.56rem */
    --step-1: clamp(1.25rem, 2vw + 1rem, 1.56rem);

    /* h3: de la 1.4rem la 1.95rem */
    --step-2: clamp(1.4rem, 3vw + 1.1rem, 1.95rem);

    /* h2: de la 1.6rem la 2.44rem */
    --step-3: clamp(1.6rem, 4vw + 1.2rem, 2.44rem);

    /* h1: de la 2rem la 3.05rem */
    --step-4: clamp(2rem, 5vw + 1.5rem, 3.05rem);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* Add base font-size */
  font-size: var(--step-0);
  background-color: var(--main-bg-clr);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
}

.left-column {
    width: 40%;
    min-height: 100dvh;
    position: relative;
    background: url("/images/IMG_0197.JPEG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.right-column {
    width: 60%;
}


.logo {
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
    display: block;
}

h1 {
  font-size: var(--step-4);
  line-height: 1.1;
  font-weight: 800;
}

